:root {
    background-color: rgb(247, 247, 247);
    --color-palette-1: rgb(13, 27, 42);
    --color-palette-2: rgb(27, 38, 59);
    --color-palette-3: rgb(65, 90, 119);
    --color-palette-3-hovered: rgb(79, 105, 134);
    --color-palette-3-clicked: rgb(14, 119, 238);
    --color-palette-4: rgb(136, 156, 184);
    --color-palette-5: rgb(224, 225, 221);
    --text-color-bright-bg: rgb(0, 0, 0);
    --text-color-dark-bg: rgb(228, 226, 226);
    --text-color-bio-subtitle: rgb(90, 90, 90);
    font-family: Arial, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

img {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#navbar {
    background-color: var(--color-palette-3);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: var(--text-color-dark-bg);
}

.navbar-button {
    padding: 10px;
    margin: 0px 5px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.navbar-button:hover {
    background-color: var(--color-palette-3-hovered);
    padding: 10px;
    margin: 0px 5px;
    transition: 0.5s;
}

.navbar-button:active {
    background-color: var(--color-palette-3-clicked);
    padding: 10px;
    margin: 0px 5px;
    transition: 0.5s;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.bio-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0px;
}

.bio-description {
    margin-left: 20px;
}

.bio-description h1 {
    margin: 0px;
    color: var(--text-color-bright-bg);
}

.bio-description h2 {
    color: var(--text-color-bio-subtitle);
    font-size: large;
}

.social-media-icon {
    width: 30px;
    height: 30px;
    margin: 0px;
    cursor: pointer;
}

/* Utilities */
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}